/* Footer.css */
.App.dark .footer {
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  .App.light .footer {
    color: #000000;
    padding: 20px 0;
    text-align: center;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
  }
  
  .footer-left,
  .footer-center,
  .footer-right {
    flex: 1;
    margin: 10px;
  }
  
  .footer-left h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-center ul li {
    margin: 5px 0;
  }
  
  .footer-center ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-right a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .footer-right a:hover,
  .footer-center ul li a:hover {
    color: #00bcd4;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-left,
    .footer-center,
    .footer-right {
      margin: 10px 0;
    }
  }
  